#navCont{
    position: fixed;
    width: 60%;
    height:7vh;
    top: 0;
    font-size: large;
    color: white;
    z-index: 99;
}

.bgNav{
    position: fixed;
    width: 100%;
    height: 7vh;
    top: 0;
    background-color: rgba(39, 35, 35, 0.37);

}

a{
    outline: none;
}

#navCont :hover{
    color: rgb(171, 253, 227);
}